.gallery-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; }
  .gallery-container__title {
    font-weight: bold;
    padding: 4rem 0px 6rem;
    color: #D35E8A;
    background: url(../../Assets/Img/gallery-background.png) center no-repeat;
    background-size: 25%;
    background-position-y: 3rem;
    font-size: 1.2rem;
    width: 100%; }
    @media screen and (max-width: 1300px) {
      .gallery-container__title {
        font-size: 1rem;
        padding: 2rem 0px 6rem; } }
    @media screen and (max-width: 768px) {
      .gallery-container__title {
        padding: 2rem 0px 3rem; } }

.messages-container {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .messages-container {
      width: 60%; } }
