.confirmation-container {
  margin-top: 20px;
  background: url(../../Assets/Img/confirmation-background.png) repeat;
  background-size: 15%;
  padding: 40px 20px;
  display: flex;
  justify-content: space-around;
  text-align: left; }
  .confirmation-container form {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    color: #696969; }
    .confirmation-container form .confirmation-form__fields {
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
      .confirmation-container form .confirmation-form__fields input[type=text], .confirmation-container form .confirmation-form__fields input[type=email], .confirmation-container form .confirmation-form__fields input[type=number] {
        width: 20rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        height: 1.5rem;
        padding: 0 0.5rem;
        border-radius: 5px;
        border: none; }
        .confirmation-container form .confirmation-form__fields input[type=text]::placeholder, .confirmation-container form .confirmation-form__fields input[type=email]::placeholder, .confirmation-container form .confirmation-form__fields input[type=number]::placeholder {
          color: #AFAFAF;
          font-style: italic; }
      .confirmation-container form .confirmation-form__fields input[type=checkbox] {
        background: white; }
      @media screen and (max-width: 1300px) {
        .confirmation-container form .confirmation-form__fields div {
          display: flex;
          flex-direction: column;
          align-items: center; } }
      .confirmation-container form .confirmation-form__fields div:last-child {
        flex-direction: row;
        align-items: flex-start; }
      @media screen and (max-width: 1300px) {
        .confirmation-container form .confirmation-form__fields {
          flex-direction: column;
          align-items: center; } }
    .confirmation-container form .confirmation-form__button {
      display: flex; }
      .confirmation-container form .confirmation-form__button button {
        color: white;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        background: #D35E8A;
        padding: 1.7rem 0.8rem;
        cursor: pointer; }
        @media screen and (max-width: 1300px) {
          .confirmation-container form .confirmation-form__button button {
            padding: 2.45rem 9.8rem; } }
    @media screen and (max-width: 1300px) {
      .confirmation-container form {
        flex-direction: column;
        align-items: center; } }
  @media screen and (max-width: 1300px) {
    .confirmation-container {
      flex-direction: column;
      align-items: center; } }
