.titleComponent{
    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    width: 20%;
    &.white{
        color: white;
        background: url(../../Assets/Img/titleBackground-white.png) top center no-repeat;
        background-size: 80%;
        padding-bottom: 4rem;
    }
}