.titleComponent {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  width: 20%; }
  .titleComponent.white {
    color: white;
    background: url(../../Assets/Img/titleBackground-white.png) top center no-repeat;
    background-size: 80%;
    padding-bottom: 4rem; }
    @media screen and (max-width: 1300px) {
      .titleComponent.white {
        width: 100%;
        background-size: 35%; } }
